.card {
  padding-top: 35px;
  position: relative;
}

.card__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}

.card__content {
  padding: 48px 8px 8px;
  background-color: var(--white);
  border-radius: 16px;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dark);
}

.card__info {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  color: var(--beige);
}

.card__price {
  font-weight: 600;
  color: var(--dark);
}

.card__button {
  width: 100%;
  padding: 8px 24px;
  font-size: 14px;
  color: var(--orange);
  background-color: var(--light);
  border-radius: 32px;
}

@media (width >=620px) {
  .card {
    padding-top: 46px;
  }

  .card__image {
    width: 180px;
  }

  .card__content {
    padding: 146px 24px 24px;
    border-radius: 32px;
  }

  .card__title {
    font-size: 24px;
  }

  .card__info {
    margin-bottom: 24px;
    gap: 8px;
    font-size: 20px;
  }

  .card__button {
    font-size: 20px;
  }
}
