.toppings {
  padding: 24px 0;

}

.toppings__title {
  position: fixed;
  transform: scale(0);
}

.toppings__button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--dark);
}

.toppings__arrow {
  transition: transform .3s ease;
}

.toppings__button_active .toppings__arrow {
  transform: scaleY(-1);
}

.toppings__list {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.toppings__list_show {
  display: flex;

  /* todo!! */
}

.toppings__item {}

.toppings__checkbox {
  position: absolute;
  appearance: none;
}

.toppings__label {
  display: block;
  padding: 8px 24px;
  font-size: 14px;
  color: var(--beige);
  border-radius: 32px;
  background-color: var(--white);
  border: 1px solid transparent;
  transition: all .1s ease;
}

.toppings__checkbox:focus-visible+.toppings__label {
  background-color: var(--white);
  color: var(--orange);
  border-color: var(--orange);
}

.toppings__checkbox:checked+.toppings__label {
  background-color: var(--orange);
  color: var(--light);
}

@media (width >=640px) {
  .toppings {
    padding: 32px 0;
  }

  .toppings__button {
    font-size: 24px;
  }

  .toppings__label {
    font-size: 20px;
  }
}

@media (width >=860px) {
  .toppings__button {
    display: none;
  }

  .toppings__title {
    position: static;
    transform: none;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: var(--dark);
  }

  .toppings__list {
    display: flex;
    max-height: none;
  }
}
